paths:
  dataset_root: <YOUR_DATASET_DIR>
  experiment_log_dir: <YOUR_EXPERIMENT_LOG_DIR>
  bpe_path: sam3/assets/bpe_simple_vocab_16e6.txt.gz
lora:
  rank: 4
  alpha: 8
  dropout: 0.0
  target_modules:
  - q_proj
  - k_proj
  - v_proj
  apply_to_vision_encoder: false
  apply_to_text_encoder: false
  apply_to_detr_encoder: false
  apply_to_detr_decoder: true
training:
  img_folder_train: ${paths.dataset_root}/train/
  ann_file_train: ${paths.dataset_root}/train/_annotations.coco.json
  img_folder_val: ${paths.dataset_root}/valid/
  ann_file_val: ${paths.dataset_root}/valid/_annotations.coco.json
  enable_segmentation: true
  max_epochs: 10
  batch_size: 2
  gradient_accumulation_steps: 2
  num_train_workers: 10
  num_val_workers: 2
  lr_scale: 0.2
  lr_transformer: 0.00016
  lr_vision_backbone: 2.5e-05
  lr_language_backbone: 5.0e-06
  weight_decay: 0.1
  gradient_clip_max_norm: 0.1
  layer_decay_vision: 0.9
  scheduler_timescale: 20
  scheduler_warmup: 20
  scheduler_cooldown: 20
  amp_enabled: true
  amp_dtype: bfloat16
  val_epoch_freq: 2
  skip_first_val: true
  save_checkpoints: true
  checkpoint_freq: 2
scratch:
  resolution: 1008
  d_model: 256
  max_ann_per_img: 200
  train_norm_mean:
  - 0.5
  - 0.5
  - 0.5
  train_norm_std:
  - 0.5
  - 0.5
  - 0.5
  matcher:
    _target_: sam3.train.matcher.BinaryHungarianMatcherV2
    focal: true
    cost_class: 2.0
    cost_bbox: 5.0
    cost_giou: 2.0
    alpha: 0.25
    gamma: 2
    stable: false
  pos_embed:
    _target_: sam3.model.position_encoding.PositionEmbeddingSine
    num_pos_feats: ${scratch.d_model}
    normalize: true
    scale: null
    temperature: 10000
loss:
  _target_: sam3.train.loss.sam3_loss.Sam3LossWrapper
  matcher: ${scratch.matcher}
  o2m_weight: 2.0
  o2m_matcher:
    _target_: sam3.train.matcher.BinaryOneToManyMatcher
    alpha: 0.3
    threshold: 0.4
    topk: 4
  use_o2m_matcher_on_o2m_aux: false
  loss_fns_find:
  - _target_: sam3.train.loss.loss_fns.Boxes
    weight_dict:
      loss_bbox: 5.0
      loss_giou: 2.0
  - _target_: sam3.train.loss.loss_fns.IABCEMdetr
    weak_loss: false
    weight_dict:
      loss_ce: 20.0
      presence_loss: 20.0
    pos_weight: 10.0
    alpha: 0.25
    gamma: 2
    use_presence: true
    pos_focal: false
    pad_n_queries: 200
    pad_scale_pos: 1.0
  - _target_: sam3.train.loss.loss_fns.Masks
    focal_alpha: 0.25
    focal_gamma: 2.0
    weight_dict:
      loss_mask: 200.0
      loss_dice: 10.0
    compute_aux: false
  loss_fn_semantic_seg: null
  scale_by_find_batch_size: true
train_transforms:
- _target_: sam3.train.transforms.basic_for_api.ComposeAPI
  transforms:
  - _target_: sam3.train.transforms.filter_query_transforms.FlexibleFilterFindGetQueries
    query_filter:
      _target_: sam3.train.transforms.filter_query_transforms.FilterCrowds
  - _target_: sam3.train.transforms.point_sampling.RandomizeInputBbox
    box_noise_std: 0.1
    box_noise_max: 20
  - _target_: sam3.train.transforms.segmentation.DecodeRle
  - _target_: sam3.train.transforms.basic_for_api.RandomResizeAPI
    sizes:
      _target_: sam3.train.transforms.basic.get_random_resize_scales
      size: ${scratch.resolution}
      min_size: 480
      rounded: false
    max_size:
      _target_: sam3.train.transforms.basic.get_random_resize_max_size
      size: ${scratch.resolution}
    square: true
    consistent_transform: false
  - _target_: sam3.train.transforms.basic_for_api.PadToSizeAPI
    size: ${scratch.resolution}
    consistent_transform: false
  - _target_: sam3.train.transforms.basic_for_api.ToTensorAPI
  - _target_: sam3.train.transforms.filter_query_transforms.FlexibleFilterFindGetQueries
    query_filter:
      _target_: sam3.train.transforms.filter_query_transforms.FilterEmptyTargets
  - _target_: sam3.train.transforms.basic_for_api.NormalizeAPI
    mean: ${scratch.train_norm_mean}
    std: ${scratch.train_norm_std}
val_transforms:
- _target_: sam3.train.transforms.basic_for_api.ComposeAPI
  transforms:
  - _target_: sam3.train.transforms.basic_for_api.RandomResizeAPI
    sizes: ${scratch.resolution}
    max_size:
      _target_: sam3.train.transforms.basic.get_random_resize_max_size
      size: ${scratch.resolution}
    square: true
    consistent_transform: false
  - _target_: sam3.train.transforms.basic_for_api.ToTensorAPI
  - _target_: sam3.train.transforms.basic_for_api.NormalizeAPI
    mean: ${scratch.train_norm_mean}
    std: ${scratch.train_norm_std}
trainer:
  _target_: sam3.train.trainer.Trainer
  max_epochs: ${training.max_epochs}
  accelerator: cuda
  seed_value: 42
  mode: train
  val_epoch_freq: ${training.val_epoch_freq}
  skip_first_val: ${training.skip_first_val}
  skip_saving_ckpts: false
  empty_gpu_mem_cache_after_eval: true
  gradient_accumulation_steps: ${training.gradient_accumulation_steps}
  distributed:
    backend: nccl
    find_unused_parameters: true
    gradient_as_bucket_view: true
  loss:
    all: ${loss}
    default:
      _target_: sam3.train.loss.sam3_loss.DummyLoss
  data:
    train:
      _target_: sam3.train.data.torch_dataset.TorchDataset
      dataset:
        _target_: sam3.train.data.sam3_image_dataset.Sam3ImageDataset
        img_folder: ${training.img_folder_train}
        ann_file: ${training.ann_file_train}
        transforms: ${train_transforms}
        load_segmentation: ${training.enable_segmentation}
        max_ann_per_img: 500000
        training: true
        use_caching: false
      shuffle: true
      batch_size: ${training.batch_size}
      num_workers: ${training.num_train_workers}
      pin_memory: true
      drop_last: true
      collate_fn:
        _target_: sam3.train.data.collator.collate_fn_api
        _partial_: true
        repeats: 1
        dict_key: all
        with_seg_masks: ${training.enable_segmentation}
    val:
      _target_: sam3.train.data.torch_dataset.TorchDataset
      dataset:
        _target_: sam3.train.data.sam3_image_dataset.Sam3ImageDataset
        img_folder: ${training.img_folder_val}
        ann_file: ${training.ann_file_val}
        transforms: ${val_transforms}
        load_segmentation: ${training.enable_segmentation}
        max_ann_per_img: 100000
        training: false
        multiplier: 1
        coco_json_loader:
          _target_: sam3.train.data.coco_json_loaders.COCO_FROM_JSON
          include_negatives: true
          category_chunk_size: 2
          _partial_: true
      shuffle: false
      batch_size: 1
      num_workers: ${training.num_val_workers}
      pin_memory: true
      drop_last: false
      collate_fn:
        _target_: sam3.train.data.collator.collate_fn_api
        _partial_: true
        repeats: 1
        dict_key: detection
        with_seg_masks: ${training.enable_segmentation}
  model:
    _target_: sam3_lora_wrapper.wrap_sam3_model_with_lora
    model_builder_fn:
      _target_: sam3.model_builder.build_sam3_image_model
      bpe_path: ${paths.bpe_path}
      device: cpus
      eval_mode: false
      enable_segmentation: ${training.enable_segmentation}
    lora_config: ${lora}
  optim:
    amp:
      enabled: ${training.amp_enabled}
      amp_dtype: ${training.amp_dtype}
    optimizer:
      _target_: torch.optim.AdamW
    gradient_clip:
      _target_: sam3.train.optim.optimizer.GradientClipper
      max_norm: ${training.gradient_clip_max_norm}
      norm_type: 2
    param_group_modifiers:
    - _target_: sam3.train.optim.optimizer.layer_decay_param_modifier
      _partial_: true
      layer_decay_value: ${training.layer_decay_vision}
      apply_to: backbone.vision_backbone.trunk
      overrides:
      - pattern: '*pos_embed*'
        value: 1.0
    options:
      lr:
      - scheduler:
          _target_: sam3.train.optim.schedulers.InverseSquareRootParamScheduler
          base_lr: ${training.lr_transformer}
          timescale: ${training.scheduler_timescale}
          warmup_steps: ${training.scheduler_warmup}
          cooldown_steps: ${training.scheduler_cooldown}
      - scheduler:
          _target_: sam3.train.optim.schedulers.InverseSquareRootParamScheduler
          base_lr: ${training.lr_vision_backbone}
          timescale: ${training.scheduler_timescale}
          warmup_steps: ${training.scheduler_warmup}
          cooldown_steps: ${training.scheduler_cooldown}
        param_names:
        - backbone.vision_backbone.*
      - scheduler:
          _target_: sam3.train.optim.schedulers.InverseSquareRootParamScheduler
          base_lr: ${training.lr_language_backbone}
          timescale: ${training.scheduler_timescale}
          warmup_steps: ${training.scheduler_warmup}
          cooldown_steps: ${training.scheduler_cooldown}
        param_names:
        - backbone.language_backbone.*
      weight_decay:
      - scheduler:
          _target_: fvcore.common.param_scheduler.ConstantParamScheduler
          value: ${training.weight_decay}
      - scheduler:
          _target_: fvcore.common.param_scheduler.ConstantParamScheduler
          value: 0.0
        param_names:
        - '*bias*'
        module_cls_names:
        - torch.nn.LayerNorm
  checkpoint:
    save_dir: ${launcher.experiment_log_dir}/checkpoints
    save_freq: ${training.checkpoint_freq}
  logging:
    tensorboard_writer:
      _target_: sam3.train.utils.logger.make_tensorboard_logger
      log_dir: ${launcher.experiment_log_dir}/tensorboard
      flush_secs: 120
      should_log: true
    wandb_writer: null
    log_dir: ${launcher.experiment_log_dir}/logs
    log_freq: 10
  meters:
    val:
      detection:
        _target_: sam3.eval.coco_writer.PredictionDumper
        iou_type: bbox
        dump_dir: ${launcher.experiment_log_dir}/dumps
        merge_predictions: true
        postprocessor:
          _target_: sam3.eval.postprocessors.PostProcessImage
          max_dets_per_img: -1
          use_original_ids: true
          use_original_sizes_box: true
          use_presence: true
        gather_pred_via_filesys: false
        maxdets: 100
        pred_file_evaluators:
        - _target_: sam3.eval.coco_eval_offline.CocoEvaluatorOfflineWithPredFileEvaluators
          gt_path: ${training.ann_file_val}
          tide: false
          iou_type: bbox
launcher:
  num_nodes: 1
  gpus_per_node: 1
  experiment_log_dir: ${paths.experiment_log_dir}
  multiprocessing_context: forkserver
submitit:
  use_cluster: false
  account: null
  partition: null
  qos: null
  timeout_hour: 72
  cpus_per_task: 10
  port_range:
  - 10000
  - 65000
